.no-icon {
    display: none;
    background-image: url('../images/blank.gif') !important;
}

.icon16 {
    height: 16px;
    margin-left: 10px;
    margin-top: 5px;
    width: 16px;
}

.new-item-icon {
    background-image: url("../icons/new-role-user.png") !important;
    background-repeat: no-repeat !important;
}

.update-icon {
    background-image: url("../icons/update.png") !important;
    background-repeat: no-repeat !important;
}

.copy-icon {
    background-image: url("../icons/copy.png") !important;
    background-repeat: no-repeat !important;
}

.edit-icon {
    background-image: url("../icons/edit.png") !important;
    background-repeat: no-repeat !important;
}

.edit-image{
    background-image: url("../images/edit.png") !important;
    background-repeat: no-repeat !important;
    background-position: right;

}


.flexDisplay .x-form-display-field{
    width:auto !important;

}

.flexDisplay .x-form-display-field:empty{

    width:50px !important;
    height:70%;


}

.flexDisplay .x-form-display-field:hover{
    background-image: url("../images/edit.png") !important;
    background-repeat: no-repeat !important;
    background-position: right;
    cursor:pointer;
    display:inline-block;

}



.delete-icon {
    background-image: url("../icons/delete.png") !important;
    background-repeat: no-repeat !important;
}

/*.permissions-icon{background-image: url("../icons/permissions.gif") !important;background-repeat: no-repeat !important;}*/

.collapse-arrow-up {
    background-image: url(../images/arrow_up.png) !important;
}

.collapse-arrow-down {
    background-image: url(../images/arrow_down.png);
}

.show-password {
    cursor: pointer;
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../images/show-password.png);
    background-repeat: no-repeat;
}

.header-icon {
    padding-left: 18px;
    font-size: 12px;
}

.mico-calender {
    background: url('../images/calendar.png') left no-repeat !important;
}

.mico-member {
    background: url('../images/new-role-user.png') left no-repeat !important;
}

.mico-status-new {
    background: url('../images/toolbar-new.png') left no-repeat !important;
}

.mico-profile-location {
    background: url('../images/profile-location.png') left no-repeat !important;
}

.mico-profile-email {
    background: url('../images/profile-email.png') left no-repeat !important;
}

.mico-profile-phone {
    background: url('../images/profile-phone.png') left no-repeat !important;
}

.mico-profile-fax {
    background: url('../images/profile-fax.png') left no-repeat !important;
}


