.menuItem{
    display: block;padding: 5px;cursor:pointer;
}
.menuText{
    display:inline-block;font-size:12px;padding-left:10px;
}
.menuItemOver{
    background-color: #F0F2F3;
}
.menuItemSelected{
    background-color: #fff9e9;
}

.radio{
    background: url('../images/parameters/radio-button.png');
    width:16px;
    height:16px;
    float:left
}
.checkbox{
    background: url('../images/parameters/checkbox.png');
    width:16px;
    height:16px;
    float:left
}
.button{
    background: url('../images/parameters/button.png');
    width:16px;
    height:16px;
    float:left
}
.h-slider{
    background: url('../images/parameters/slider.png');
    width:16px;
    height:16px;
    float:left
}
.v-slider{
    background: url('../images/parameters/slider-vertical.png');
    width:16px;
    height:16px;
    float:left
}
.date{
    background: url('../images/parameters/calendar.png');
    width:16px;
    height:16px;
    float:left
}
.time{
    background: url('../images/parameters/time.png');
    width:16px;
    height:16px;
    float:left
}
.textfield{
    background: url('../images/parameters/textfield.png');
    width:16px;
    height:16px;
    float:left
}
.combobox{
    background: url('../images/parameters/combobox.png');
    width:16px;
    height:16px;
    float:left
}
.numfield{
    background: url('../images/parameters/sort-number.png');
    width:16px;
    height:16px;
    float:left
}
.list{
    background: url('../images/parameters/text_list_bullets.png');
    width:16px;
    height:16px;
    float:left
}

.configure{
    background: url('../images/configure.png');
    width:16px;
    height:16px;
    float:left
}