*.class
*.log
*.iml
.metadata/

# sbt specific
.cache
.history/
.lib/
dist/*
target/
test-output/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
apacheds-work/

# calling out cloud receiver explicitly
integration-tests/cloudreceiver-test/cloudreceiver-test.iml

# SM Specific
__GeneratedProxy__*.scala
db.h2.db
application.conf.*
.metric-data/

# IntelliJ specific
.idea/
out/

# Eclipse specific
.classpath
.project
.settings/

# Temporary data specific
tenant.properties
user.properties

# sbteclipse
.target

# sublime text
*.sublime-workspace
*.sublime-project

# vim
*.swp
tags
ctags
.lib_src/

# vagrant
.vagrant
vagrant_ansible_inventory_*
*.iml

# MAC
.DS_Store

