.x-border-layout-ct {
    background-color: transparent;	
}

#site-loading {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Segoe UI', 'Trebuchet MS', Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
    height: 100%;
    z-index: 9100;
    background-color: #e5e9eb;
    color: #375780;
    text-align: center;
}

#site-loading img {
    display: block;
    width: 32px;
    height: 32px;
    /*padding: 16px;*/
    margin: 25% auto 2em auto;
}

.progress-window {
    font-family: 'Segoe UI', 'Trebuchet MS', Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    background-color: #e5e9eb;
    color: #375780;
    text-align: center;
    padding-top: 1em;
}

.progress-window img {
    display: block;
    width: 32px;
    height: 32px;
    margin: 12px auto 24px auto;
}

.loading-error-header {
    margin-top: 25%;
    font-size: 14pt;
    color: #ff0000;
}

.loading-error-message {
    margin: 1em 15%;
    font-size: 10pt;
    color: #ff0000;
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: normal;
}

.x-tab-bar, .x-tab-bar, .x-tab-bar, .x-tab-bar-body {
    background-color: transparent !important;
    background-image: none !important;
    border: 0px !important;
}

#header-container {
    padding: 4px;
    vertical-align: middle;
}

#header-config-name {
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #222b36;
    overflow: hidden;
    white-space: nowrap;
}

#header-last-modified {
    color: #888888;
    font-size: 8pt;
    margin: 0.2em;
}

.info-pane-header {
    display: inline-block;
    margin-right: 8px;
}

.info-pane-header h2 {
    color: #222b36;
    font-weight: bold;
    font-size: 16px;
    margin: 0.5em 0.2em;
    margin-top: 4px;
}

.info-pane-stats {
    /*border-left: 1px dotted #ffffff;*/
    height: 4em;
    overflow: hidden;
}

.info-pane-stats li {
    display: block;
    float: left;
    padding: 1px 15px 1px 0px;
    border-left: 1px dotted #c8d6df;
    height: 4em;
    overflow: hidden;
}

.info-pane-stats .ips-top {
    font-size: 11px;
    font-weight: normal;
    color: #586471;
    display: block;
}

.info-pane-stats .ips-bottom {
    font-size: 14px;
    font-weight: normal;
    color: #222b36;
    display: block;
    padding: 4px 0px 4px 0px;
}

.header-edit-button {
    margin: 4px;
    position: relative;
    top: -4px;
}

.header-properties-button {
    margin: 4px;
    position: relative;
    top: -4px;
}

.sm-tab-plain-bkd .x-panel-body-default
{
    background-color: #ffffff;
}

.sm-item-header .x-panel-header-text-default  span, .sm-item-header .x-tab button {
    font-size: 11px;
    font-weight: bold;
    color: #586471;
}

.sm-item-header .x-toolbar span
{
   font-size: 11px;
    color: #586471;
}

.x-nlg .plain-body-panel .x-panel-body-default,.plain-body-panel .x-panel-body-default{
     background-color: #ffffff;
}

.header-plain-bkg .x-toolbar-default {
    background-color: transparent;
    background-image: none;
    border: none;
    color: #586471;
}

.x-nlg .header-plain-bkg .x-toolbar-default {
    background-color: transparent !important;
    background-image: none !important;
    border: none;
    color: #586471;
}

.header-plain-bkg .x-panel-header-default {
    background-color: transparent;
    background-image: none;
    border: none;
    color: #586471;
}

.header-plain-bkg .x-panel-header-default-top {
    box-shadow: 0 0 0 0 white inset;
}

.x-nlg .header-plain-bkg .x-panel-header-default {
    background-color: transparent !important;
    background-image: none !important;
    border: none;
    color: #586471;
}

.config-link {
    text-decoration: none;
    color: #227bce;
}

.config-link:hover {
    text-decoration: underline;
}

.eula-page {
    font-family: arial, helvetica, verdana, sans-serif;
}

.eula-header {
    color: #222b36;
    font-weight: normal;
    font-size: 14pt;
}

.eula-box {
    font-family: arial, helvetica, verdana, sans-serif;
    font-size: 12px;
}

.padded-box .x-form-text{

}

.separator-line {
    border-top: 1px dotted #c5cfd6;
}

.generic-page {
    /*background-color: #eeeeee;*/
    /*padding:3em 8% 0;*/
    padding: 0px;

}

.generic-page-header h1 {
    color: #222b36;
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.generic-page-content {

}

.generic-page-footer {
    color: #817f7f;
    text-align: right;
}

.formpage {
    background: none;
    border: 1px solid #888888;
    /*border-radius: 20px;*/
    border-radius: 0px;
    padding: 4px;
}

.formpage-centered {
    margin: 2em auto 2em auto !important;
}

.formpage-category {
    margin: 16px 16px 16px 0px;
    background-color: transparent;
}

.formpage-category-header, .formpage-category-header-top {
    display: block;
    margin-left: 0px !important;
    margin-bottom: 15px !important;
    color: #888888;
    font-size: 9pt;
    font-weight: bold;
    border-bottom: 0px solid #888888;
}

.formpage-major-category{
    margin-left: 0px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 29px;
    background-color: transparent;
}

.formpage-major-category-header{
    display: block;
    /*margin-left: -30px !important;*/
    margin-bottom: 10px !important;
    /*padding-left: 30px !important;*/
    color: #222b36;
    font-size: 14px;
    font-weight: normal;
}

.formpage-smallheader {
    display: block;
    margin-bottom: 15px !important;
    color: #222b36;
    font-size: 9pt;
    font-weight: bold;
    border-bottom: 0px solid #888888;
}

.formpage-bigheader {
    display: block;
    color: #222b36;
    font-size: 14px;
    font-weight: normal;
}

.radio-config-choice table tr {
    cursor: pointer !important;
}

.radio-config-choice .x-form-checkbox, .radio-config-choice .x-form-radio {
    vertical-align: 22px;
}

.x-nlg .radio-config-choice .x-form-checkbox, .x-nlg .radio-config-choice .x-form-radio {
    vertical-align: -6px;
}

.radio-desc {
    display: inline-table;
    height: 40px;
    width: 320px;
}

.radio-icon {
    vertical-align: middle;
}

.radio-heading {
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #227bce;
    padding: 2px 2px 2px 22px;

}

.radio-detail {
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #586471;
    padding: 2px 2px 2px 22px;
}

.service-type-description {
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #586471;
    padding: 5px 5px 5px 5px;
 }
 
 .service-type-description-heading {
    border-top: 1px dotted #c5cfd6;
    padding-top:5px;
 	font-family: arial, helvetica, verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    
}

a.all-config-link{
    font-family: arial, helvetica, verdana, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color:  #227BCE;
    text-decoration:none;
}

a.all-config-link:hover {
    text-decoration: underline;
}


.create-config-sidebar-header {
    border-top: 1px solid #bdcbd3;
    border-right: 1px solid #bdcbd3;
    border-left: 1px solid #bdcbd3;
    border-bottom: 0px;
    background-color: #f4f8fa;
    font-size: 8pt;
    overflow: auto;
    padding: 15px;
}

.create-config-sidebar-header dt {
    display: block;
    float: left;
    width: 120px;
    padding: 4px 0;
    color: #888888;
    margin-bottom: 1px;
}

.create-config-sidebar-header dd {
    display: block;
    width: auto;
    margin-left: 25px;
    margin-bottom: 1px;
    padding: 4px 0;
}

.config-template-sidebar-header {
    border: 0px;
    background-color: #f4f8fa;
    font-size: 8pt;
    overflow: auto;
    padding: 15px;
}

.config-template-sidebar-header dt {
    display: block;
    float: left;
    width: 100px;
    padding: 4px 0;
    color: #888888;
    margin-bottom: 1px;
}

.config-template-sidebar-header dd {
    display: block;
    width: auto;
    margin-left: 10px;
    margin-bottom: 1px;
    padding: 4px 0;
}

.big-button button span {
    font-size: 13px !important;
    font-weight: bold !important;
}

.wizard-contextual-help {
    border-top: 1px dotted #6f8298;
}

.wizard-contextual-help-header {
    margin: 25px 8px 15px -2px;
    color: #888888;
    background: url('../images/icons-help.png') no-repeat !important;
    background-position: left;
}

.wizard-nav-button {
    font-size: 10pt;
    line-height: 36px;
    padding: 0px 4px 4px 38px;
    white-space: nowrap;
    overflow: hidden;
}

.wizard-nav-button-selected {
    background-color: #ffffff;
    border: 1px solid #c5cfd6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    color: #d86f13;
    background-image: url('../images/wizard-selected.png');
    background-repeat: no-repeat;
    background-position: 6px center;
}

.wizard-nav-button-unselected {
    color: #6e7c88;
    font-size: 11px;
    font-weight: normal;
    background-image: url('../images/wizard-unselected.png');
    background-repeat: no-repeat;
    background-position: 6px center;
}

.wizard-nav-button-unselected a:link, .wizard-nav-button-unselected a:visited {
    color: #888888;
    text-decoration: none;
}

.wizard-nav-button-unselected a:hover {
    color: #000000;
    text-decoration: underline;
}

.wizard-validation-banner {
    color: #000000;
    font-weight: normal;
    font-size: 14px;
}

.text-editor-field textarea {
    font-size: 12px;
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Courier New', monospace;
}

a:link {
    color: #007DAC;
}

a:visited {
    color: #007DAC;
}

a:hover {
    color: #006080;
}

.copyright {
    color: #888888;
    font-size: 9pt;
    text-align: center;
    margin-top: -2em;
}

.chkCombo-default-icon {
	width:16px;
	height:16px;
	float:left;
	background-position: -1px -1px ! important;
	background-repeat:no-repeat ! important;
}

.x-boundlist-item img.chkCombo {
    background: transparent url(../edifecs-theme/images/menu/unchecked.gif);
}
.x-boundlist-selected img.chkCombo{
    background: transparent url(../edifecs-theme/images/menu/checked.gif);
}
